// Fontello subset of fontawesome

@font-face {
  font-family: 'pio';
  src: url('/fonts/pio.eot?v=2');
  src: url('/fonts/pio.eot?#iefix&v=2') format('embedded-opentype'),
       url('/fonts/pio.woff?v=2') format('woff'),
       url('/fonts/pio.ttf?v=2') format('truetype'),
       url('/fonts/pio.svg?v=2#pio') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 pio;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-home:before { content: '\e800'; }
.fa-github:before { content: '\e801'; }
.fa-check:before { content: '\e802'; }
.fa-close:before { content: '\e803'; }
.fa-search:before { content: '\e804'; }