// Basic layout

header,
main {
  max-width: 700px;
  min-width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}

// Header

header {
  color: rgb(198, 203, 209);
  position: relative;
  padding: 0 10px;

  // Menu links
  a {
    &,
    &:visited {
      color: #000;
      margin-right: 24px;
    }

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }

  .menu {
    border-left: 3px solid #ccc;
    line-height: 1.2;
    padding: 25px 20px 0px 30px;
  }

  .logo, .menu {
    display: inline-block;
    opacity: 0.8;
  }

  // search form
  form {
    position: absolute;
    right: 15px;
    bottom: 0;

    a {
      display: none;
    }
  }

  input {
    color: #333;
    width: 208px;
    font-size: 14px;
    padding: 6px 10px 5px 10px;
    line-height: 1.1;
    outline: 0;
    border: 1px solid #ddd;
  }

  .search-flag {
    display: none;
  }
}

// Article

article {
  margin: 50px 0 70px 0;
}

article .read-more {
  float: right;
}

.footnotes {
  font-size: 14px;
  border-top: 1px solid #eee;
}

// Footer

footer {
  text-align: center;
  font-size: 14px;
  color: rgb(203, 204, 208);
  margin: 30px 0;
}


// Colors
header.blue .menu { border-left: 3px solid $blue; }
header.green .menu { border-left: 3px solid $green; }
header.orange .menu { border-left: 3px solid $orange; }
header.pink .menu { border-left: 3px solid $pink; }
header.purple .menu { border-left: 3px solid $purple; }
header.red .menu { border-left: 3px solid $red; }
header.yellow .menu { border-left: 3px solid $yellow; }