@media screen and (max-width: 598px) {

  header,
  main {
    padding: 0 15px;
    width: 100% !important;
  }

  header {
    text-align: center;
    padding: 0;

    form {
      display: none;
      position: absolute;
      padding: 12px 0 15px 0;
      top: 58px;
      left: 0;
      width: 100%;
      text-align: center;

      input[type="search"] {
        width: 60%;
        font-size: 16px;
        -webkit-appearance: none;
        margin: 0;

        line-height: 1.2;
      }

      a {
        padding: 0;
        margin: 0 10px;
        display: inline-block;
      }
    }

    .logo {
      padding: 15px 0;

      a {
        margin: 0;
      }
    }

    .search-flag {
      display: inline-block;
    }

    .menu {
      display: block;
      padding: 20px 0;
    }

    a:active,
    a:hover {
      color: #000;
    }
  }

  header .menu {
    background: #efefef;
    text-indent: 1px;
  }
}