// A happy bright color scheme

$blue: rgb(48, 145, 235);
$green: rgb(58, 190, 80);
$orange: rgb(255, 149, 0);
$pink: rgb(255, 45, 85);
$purple: rgb(88, 86, 214);
$red: rgb(255, 59, 48);
$yellow: rgb(242, 196, 3);

// Syntax highlighting colors

$code-blue: $blue;
$code-green: $green;
$code-pink: desaturate(darken($pink, 5%), 15%);
$code-purple: $purple;
$code-turquoise: rgb(64, 224, 208);
$code-yellow: $yellow;

// Header divider line gradient values
$div-grad-left: #fff 0%;
$div-grad-center: #d3d3d3 50%;
$div-grad-right: #fff 100%;