<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimal-ui">
    <link href="/css/main.css" rel="stylesheet" />
    <title>{% if page.title %}{{ page.title }}{% else %}pascal.io{% endif %}</title>
  </head>

  <body>
    <canvas></canvas>
    <main>
      {{ content }}
    </main>

    <!-- <span id="credit">
      Animation by
      <a href="https://codepen.io/ge1doot/details/GQobbq/">
        Gerard Ferrandez
      </a>
    </span> -->

  </body>
  <script src="/js/em.js" defer></script>
  <script src="/js/bg.js" defer></script>
</html>
